@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        hsl(218, 28%, 13%),
        hsl(216, 53%, 9%)
    );
}

#logo-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.85rem;
    margin-bottom: 1.5rem;
}

#logo-nav-section nav a {
    font-family: 'Raleway', serif;
    text-decoration: none;
    margin-left: 0.65rem;
    color: hsl(0, 0%, 90%);
    font-size: 1rem;
}

#logo-nav-section nav a:active {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}

#logo-nav-section img {
    width: 50%;
}

#header {
    /* height: 75vh; */
    margin-bottom: 10rem;
    /* text-align: center; */
}

#header h2 {
    font-family: 'Raleway', serif;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

#header p {
    font-family: 'Open Sans', serif;
    font-size: 1.2rem;
    color: hsl(0, 0%, 95%);
    line-height: 1.4;
    margin-bottom: 1rem;
}

#header button {
    font-family: 'Raleway', serif;
    background: linear-gradient(
        to right,
        hsl(176, 68%, 64%) 0%,
        hsl(198, 60%, 50%) 85%
    );
    color: hsl(0, 0%, 95%);
    border-radius: 30px;
    padding: 1rem 4.5rem;
    font-size: 1.2rem;
    margin-top: 1.6rem;
}

#header button:active {
    background: hsl(176, 68%, 64%);
}

#header .illustration-image-text-wrapper {
    padding: 0 2rem;
    text-align: center;
}

/* #header .illustration-image-text-wrapper p {
    font-family: 'Open Sans', serif;
} */

#header .illustration-image {
    width:  20rem;
    margin: 0 auto;
}

#header .illustration-image img {
    width: 100%;
}

#first-section {
    text-align: center;
    /* margin: 9.5rem 0 0; */
}

#first-section h3 {
    font-family: 'Raleway', serif;
    color: hsl(0, 0%, 100%);
    margin: 1.2rem 0 1rem;
}

#first-section p {
    font-family: 'Open Sans', serif;
    color: hsl(0, 0%, 95%);
    line-height: 1.3;
    font-size: 1.1rem;
}

#first-section .feature {
    width: 20rem;
    margin: 8.5rem auto;
}

#mid-section {
    padding: 1rem;
}

#mid-section h3 {
    font-family: 'Raleway', serif;
}

#mid-section .link {
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 0.5rem;
    width: 9.5rem;
}

#mid-section .link a {
    color: hsl(176, 68%, 64%) 0%;
}

#mid-section .link a img {
    position: relative;
    top: 5px;
}

#mid-section p {
    font-family: 'Open Sans', serif;
    color: hsl(0, 0%, 95%);
    margin: 1rem 0;
}

h3 {
    color: hsl(0, 0%, 100%);
    margin: 1.2rem 0;
}

.illustration-stay-image {
    width: 20rem;
    margin: 0 auto;
}

.illustration-stay-image img {
    width: 100%;
}

#second-section {
    margin: 8.5rem 0;
}

#second-section .customers {
    /* width: 16rem; */
    /* background-color: aquamarine; */
    padding: 2rem;
}

#second-section .customers .customer {
    width: 15.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    /* border: 1px solid #ccc; */
    margin: 1rem auto;
    /* width: 20rem; */
    background-color: hsl(219, 30%, 18%);
}

#second-section .customers .customer p {
    font-family: 'Open Sans', serif;
    font-size: 0.8rem;
    line-height: 1.5;
}

#second-section .customer .exec-name {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

#second-section .customer .exec {
    padding-top: 0.7rem;
}

#second-section .customer .exec .exec-profile {
    margin-left: 0.7rem;
}

#second-section .customer p {
    color: hsl(0, 0%, 95%);
}

#second-section .quotes-image {
    width: 1.5rem;
}

#second-section .quotes-image img {
    width: 100%;
    position: relative;
    top: 52px;
    left: 50px;
}

#second-section .exec {
    display: flex;
    align-items: center;
}

#second-section .exec img {
    width: 15%;
    border-radius: 50%;
}

/* #second-section .customer {
    border: 1px solid #ccc;
    margin: 1rem auto;
    width: 20rem;
} */

#third-section {
    text-align: center;
    width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
}

#third-section h3 {
    font-family: 'Raleway', serif;
}

#third-section p {
    font-family: 'Open Sans', serif;
    color: hsl(0, 0%, 95%);
    margin-bottom: 1.3rem;
    line-height: 1.4;
}

#third-section .input-button-wrapper {
    width: 18rem;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

#third-section .input-button-wrapper input {
    width: 90%;
    border-radius: 25px;
    padding: 0.75rem;
    background-color: hsl(0, 0%, 100%);
}

#third-section .input-button-wrapper button {
    font-family: 'Raleway', serif;
    width: 100%;
    display: block;
    margin: 1.5rem auto;
    border-radius: 25px;
    padding: 0.85rem 0.75rem;
    background: linear-gradient(
        to right,
        hsl(176, 68%, 64%) 0%,
        hsl(198, 60%, 50%) 85%
    );
    color: hsl(0, 0%, 100%);
}

#third-section .input-button-wrapper button:active {
    background: hsl(176, 68%, 64%);
}

/* #third-section button {
    
} */

footer {
    font-family: 'Open Sans', serif;
    /* background-color: hsl(216, 53%, 9%); */
    margin-top: 4rem;
    padding: 1.5rem;
}

footer p {
    color: hsl(0, 0%, 95%);
    line-height: 1.4;
    width: 20rem;
    margin: 1.2rem 0;
}

footer .logo {
    padding: 0 1.6rem;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .location img {
    position: relative;
    top: -1.9rem;
    /* background-color: aqua; */
    /* padding: 2rem; */
}

footer .section {
    margin: 3.5rem 0;
    /* background-color: antiquewhite; */
}

footer .social-icons {
    padding: 2.5rem 0 1.75rem;
    text-align: center;
}

footer .social-icons img {
    margin-left: 0.65rem;
}




